// variable
$blue: #3ba0e9;
$pink: #ff3c41;
$light-gray: #f0f2f5;
$dark-blue: #003147;
$gray: rgb(66, 82, 110);
$text-active: rgb(0, 82, 204);
$white: rgb(222, 235, 255);
$smooth: all 0.2s ease-in;

$turquoise: #56c6b5;