// variable
$white: #ffffff;
$gray: #eff0f5;
$light-gray: #f7f7f7;
$orange: #f57224;
$dark-orange: #bb4300;
$light-orange: #ffa354;


$text-gray: #9e9e9e;
$text-blue: #1a9cb7;


$smooth: all 0.2s ease-in;
$shadow: 0 7px 29px 0 hsl(240deg 5% 41% / 20%)