.login {
    padding: 200px 0;
    background-color: $gray;

    .login__container {
        width: 60%;
        margin: 0 auto;

        .login__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;

            h3 {
                font-size: 2.3rem;
                font-weight: 400;
            }

            p {
                span {
                    color: #1a9cb7;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .login__form {
            background-color: white;
            padding: 25px 50px 25px 50px;
            box-shadow: $shadow;
            border-radius: 4px;

            form {
                display: flex;
                justify-content: space-between;
                gap: 40px;

                .login__field {
                    flex-basis: 50%;

                    .login__field-item {

                        &.end {
                            margin-bottom: 0;

                            label {
                                display: block;
                                color: #049cb9;
                                text-align: right;
                                cursor: pointer;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }

                .login__btn {
                    flex-basis: 50%;
                    width: 100%;

                    .btn_item {
                        margin: 12px;

                        p {
                            font-size: 1.2rem;
                            color: gray;
                        }

                    }


                }
            }
        }


    }
}