.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    box-shadow: $shadow;
    background-color: $orange;


    .header__container {

        // .header__top {

        //     padding: 0 80px;
        //     background-color: $light-gray;
        //     height: 25px;

        //     ul {
        //         display: flex;
        //         justify-content: flex-end;
        //         align-items: center;

        //         li {
        //             display: inline-block;
        //             padding: 0 25px;

        //             text-transform: uppercase;
        //             font-size: 1.3rem;
        //             font-weight: 500;
        //             color: $text-gray;

        //             transition: $smooth;


        //             &:hover {
        //                 a {
        //                     color: $orange;
        //                     transition: $smooth;
        //                 }
        //             }

        //             a {
        //                 color: $text-gray;
        //             }
        //         }
        //     }
        // }

        .header__between {
            padding: 0 80px;
            height: 75px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header__brand {
                font-size: 2.5rem;
                font-weight: bold;
                color: $white;
                cursor: pointer;
            }

            .header__search {

                flex-basis: 60%;

                position: relative;

                input {
                    display: inline-block;
                    padding: 10px 15px;
                    font-size: 1.4rem;
                    width: 100%;
                    background-color: $gray;
                    border-radius: 2px 0 0 2px;
                    outline: none;
                    border: none;
                }

                div {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: 45px;
                    line-height: 100%;
                    text-align: center;
                    font-size: 1.8rem;
                    background: $dark-orange;
                    border-radius: 0 2px 2px 0;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;

                    .icon {
                        position: absolute;
                        top: 13px;
                        right: 13px;
                    }
                }

            }

            .header__store {
                cursor: pointer;
                color: $white;
                transition: $smooth;

                &:hover {
                    .icon {
                        color: black;
                        transition: $smooth;
                    }

                }

                .icon {
                    font-size: 3rem;
                }
            }

            .header__account {
                display: flex;
                justify-content: flex-start;
                gap: 8px;
                align-items: center;
                color: $white;

                .icon {
                    font-size: 3.5rem;
                }

                .account {
                    cursor: pointer;
                    transition: $smooth;

                    &:hover {
                        div {
                            color: black;
                            transition: $smooth;
                        }
                    }

                    div {
                        &:nth-child(1) {
                            font-size: 1.2rem;
                        }

                        .icon {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }

        .header__bottom {
            padding: 15px 80px 11px 80px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.4rem;

            .header__categories {
                .ant-space-item {
                    color: black;
                    font-weight: 500;

                    .icon {
                        transform: rotate(90deg);
                        margin-left: 10px;
                        font-weight: 500;
                    }
                }

                flex-basis: 20%;
                cursor: pointer;
                transition: $smooth;
            }

            ul {
                display: flex;
                justify-content: flex-start;

                color: black;

                li {
                    display: inline-block;
                    padding: 0 20px;

                    a {}
                }
            }
        }
    }
}

.account_hover {
    p {
        &:hover {
            background-color: $gray;
            color: $orange;
            transition: $smooth;
            cursor: pointer;
        }
    }
}

.anticon {
    vertical-align: 0.2em;
}

.ant-rate-star.ant-rate-star-full {
    margin: 0;
}